################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libPPUI/x64/Debug
/.vs
/3rdparty-deps/rubberband/Debug
/foobar2000/foobar2000_component_client/Debug
/foobar2000/helpers/Debug
/foobar2000/SDK/Debug
/libPPUI/Debug
/pfc/Debug
/foobar2000/Debug
